<h1>Listing file_instances</h1>

<table>
  <thead>
    <tr>
      <th>File type</th>
      <th>Name</th>
      <th>Description</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @file_instances.each do |file_instance| %>
      <tr>
        <td><%= file_instance.file_type %></td>
        <td><%= file_instance.name %></td>
        <td><%= file_instance.description %></td>
        <td><%= file_instance.user_id %></td>
        <td><%= link_to 'Show', file_instance %></td>
        <td><%= link_to 'Edit', edit_file_instance_path(file_instance) %></td>
        <td><%= link_to 'Destroy', file_instance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New File instance', new_file_instance_path %>
