<%= form_for(@file_method) do |f| %>
  <% if @file_method.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@file_method.errors.count, "error") %> prohibited this file_method from being saved:</h2>

      <ul>
      <% @file_method.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :created_by %><br>
    <%= f.number_field :created_by %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :input %><br>
    <%= f.text_area :input %>
  </div>
  <div class="field">
    <%= f.label :output %><br>
    <%= f.text_area :output %>
  </div>
  <div class="field">
    <%= f.label :file_instance_id %><br>
    <%= f.text_field :file_instance_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
